body {
    Font-family:"times new roman";
    color: black;
    background-color: #fff;
    font-size: 20px;
   
}
h1,h2 {
    font-family: "Times New Roman", sans-serif;
    font-size: inherit;
}
header {
    background-color: maroon;
    color: white;
    font-size: 25px;
    text-align: center;
    width:100%;
    text-transform: uppercase;
}

.grid_item {
    float: left;
}
img {
    /*makes those boxes around the images*/
    border: 2px solid #ddd;
    float:center;
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: 10px 5px 10px 5px;
  
    
}

/* Will only change the size of the logo, rest of the modification is done in img*/
.logo img{
    width: 200px;
    height:200px;
}
/*Looked at PuraVida website as a reference, used same coding to make their products align*/
main{
    display: flex;
	flex-flow: wrap;
    justify-content: space-around;
    text-align: center;

}

.home_button, .search_button, .shop_button {
    color: #fff;
    
}

.bracelet{
    background-color: black;
    color: white;
    text-align: left;
    width: 20%;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.item{
    text-align: left;
}
.button {
    font-style: 'Times New Roman';
    box-shadow: #ddd;
    width: 100%;
    background-color: black;
    color: white;
    
}

