body {
    Font-family:"times new roman";
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    
   
}
h1,h2, .navbar{
    font-family: "Times New Roman", sans-serif;
    font-size: inherit;
}
header {
    background-color: maroon;
    color: white;
    font-size: 35px;
    text-align: center;
    width:100%;
    text-transform: uppercase;
    padding-top: 0.70%;
}


img {
    /*makes those boxes around the images*/
    border: 2px solid #ddd;
    float:center;
    width: 100%;
    width: 300px;
    height: 200px;
    margin: 10px 5px 10px 5px;
  
    
}

/* Will only change the size of the logo, rest of the modification is done in img*/
.logo img{
    width: 250px;
    height:250px;
}
/*Looked at PuraVida website as a reference, used same coding to make their products align*/
main{
    display: flex;
	flex-flow:wrap;
    justify-content: space-around;
    text-align: left;

}

.home_button, .search_button, .shop_button {
    color: #fff;
    
}

.bracelet{
    background-color: black;
    color: white;
    text-align: left;
    width: 20%;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.button {
    font-style: 'Times New Roman';
    box-shadow: #ddd;
    width: 100%;
    background-color: black;
    color: white;
    float: left ;
}

/*creates the shadow like boxes, reference from w3 school example*/
.card-4{
box-shadow:0 4px 10px 0 
 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
 padding: 10px;
 margin-bottom: 10px;
 margin-top: 5px;
 margin-right: 3px;
}
/*creates the shadow box and nav section on the top*/
.navbar {
   float:left ;
   background-color: maroon;
   width:100%;
   height: 40px;
   box-shadow:0 4px 10px 0 
 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
 padding-bottom: 5px;
 padding-right: 20px;
 font-size: 25px;
    text-align: left;
    text-transform: uppercase;
}
